name: Bump and Tag Version

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  bump:
    if: ${{ !contains(github.event.head_commit.author.name, 'version-bumper') }}
    runs-on: ubuntu-latest

    steps:
      # Checkout action is required
      - uses: actions/checkout@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Bump Versions
        uses: michmich112/version-bumper@master
        env:
          CI: false
        with:
          options-file: './bump-info.json'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Trigger release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ref=refs/tags/`grep "version" package.json | sed 's/.*: *"//' | sed 's/" *//'`
          gh workflow run build-docker.yml --ref ${ref}
          gh workflow run make-release.yml --ref ${ref}
